.formControl{
    display: flex;
    flex-direction: column;
    margin-bottom: 1.6rem;
}

.formControl label{
    margin-bottom: 1rem;
    font-weight: bold;
}

.formControl select{
    padding: 1.2rem;
    border-radius: 0;
    border: none;
}

