.container{
    width: 75%;
    max-width: 120rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    margin: 0 auto;
    font-size: 1.4rem;
}

.min-height{
    min-height: 75%;
}

.start{
    justify-content: flex-start;
    width: 100%;
}

.column{
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

